<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,900;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">

<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--&lt;!&ndash;    <script src="/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->


</head>
<body>
