<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,900;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <h1>KPI</h1>
        <hr>
        <div class="period">
            <p>2021.01.04 ~ 2021.01.10</p><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
        </div>
        <div class="section">
            <div class="article">
                <h2>Revenue</h2><a href="/kpi/save"><img src="/img/plus.png" id="createTask" class="icon-img" alt="plus"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th-wide" scope="col">Task</th>
                            <th scope="col">Impact</th>
                            <th scope="col">Complexity</th>
                            <th scope="col">isDone</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tasks}}
                        <tr>
                            <td>{{taskName}}</td>
                            <td>{{impactStatus}}</td>
                            <td>{{complexityStatus}}</td>
                            <td>{{isFinished}}</td>
                            <td>
                                <a href="/kpi/update/{{id}}"><img src="/img/right-arrow.png" class="icon-img-sub" alt="edit"></a>
                                <a href=""><img src="/img/minus.png" class="icon-img-sub" alt="minus"></a>
                            </td>
                        </tr>
                        {{/tasks}}
                    </tbody>
                </table>

                <!-- ============================================================================= -->
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th class="th-wide" scope="col">Task</th>
                            <th scope="col">Impact</th>
                            <th scope="col">Complexity</th>
                            <th scope="col">isDone</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>In-Peson Demo</td>
                            <td>High</td>
                            <td>Medium</td>
                            <td>False</td>
                            <td>
                                <a href=""><img src="/img/right-arrow.png" class="icon-img-sub" alt="edit"></a>
                                <a href=""><img src="/img/minus.png" class="icon-img-sub" alt="minus"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Add chat widget</td>
                            <td>Medium</td>
                            <td>Low</td>
                            <td>False</td>
                            <td>
                                <a href=""><img src="/img/right-arrow.png" class="icon-img-sub" alt="edit"></a>
                                <a href=""><img src="/img/minus.png" class="icon-img-sub" alt="minus"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cold email 100 potential users</td>
                            <td>Low</td>
                            <td>Low</td>
                            <td>True</td>
                            <td>
                                <a href=""><img src="/img/right-arrow.png" class="icon-img-sub" alt="edit"></a>
                                <a href=""><img src="/img/minus.png" class="icon-img-sub" alt="minus"></a>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <!-- ============================================================================= -->
                <div clas="div-result">
                    <span id="kpi-result"></span>
                </div>
                <!-- ============================================================================= -->

            </div>
            <div class="article">
                <h2>Active Users</h2><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
            </div>

            <div class="article">
                <h2>Talking to Users</h2><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
            </div>

            <div class="article">
                <h2>Building Product</h2><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
            </div>

        </div>

    </div>
</body>
    <script>
        // $(document).ready(function() {
        //    taskList();
        // });

        // $('#createTask').click(function(){
        //     createTask();
        // });

        // function taskList() {
        //     $.ajax (
        //         {
        //             type: "GET",
        //             url: '/api/tasks/list',
        //             success: function(data) {
        //                 createTable(data);
        //             }   
        //         }
        //     );
        // }

        // function createTable(data){
        //     $('#kpi-result').empty();
        //     var opr="<table class='table'><thead><tr>"+
        //         "<th class='th-wide' scope='col'>Task</th>"+
        //         "<th scope='col'>Impact</th>"+
        //         "<th scope='col'>Complextiy</th>"+
        //         "<th scope='col'>isDone</th>"+
        //         "<th scope='col'>Edit</th>"+
        //         "</tr></thead><tbody>";
        //     $.each(data,function(index,task){
        //         opr += "<tr><td>"+task.taskName+
        //         "</td><td>"+task.impactStatus+
        //         "</td><td>"+task.complexityStatus+
        //         "</td><td>"+task.isFinished+
        //         "</td><td><input type='button' onclick='updateTask(this)' value='수정' class ='update' value2="+task.id+
        //         "></td><td><input type='button' value='삭제' value2="+task.id+" onclick='deleteTask(this)'></td></tr>";
        //     });
        //     opr+="<tr><td colspan='10'><input type='button' onclick='createTask(this)' value='추가'></td></tr></tbody></table>";
        //     $('#kpi-result').append(opr);
        // };

        // // function createTable(data){
        // //     $('#kpi-result').empty();
        // //     var opr="<table class='table'><thead><tr>"+
        // //         "<th class='th-wide' scope='col'>Task</th>"+
        // //         "<th scope='col'>Impact</th>"+
        // //         "<th scope='col'>Complextiy</th>"+
        // //         "<th scope='col'>isDone</th>"+
        // //         "<th scope='col'>Edit</th>"+
        // //         "</tr></thead><tbody>";
        // //     $.each(data,function(index,task){
        // //         opr += "<tr><td>"+task.taskName+
        // //         "</td><td>"+task.impactStatus+
        // //         "</td><td>"+task.complexityStatus+
        // //         "</td><td>"+task.isFinished+
        // //         "</td><td><input type='button' onclick='updateTask(this)' value='수정' class ='update' value2="+task.id+
        // //         "></td><td><input type='button' value='삭제' value2="+task.id+" onclick='deleteTask(this)'></td></tr>";
        // //     });
        // //     opr+="<tr><td colspan='10'><input type='button' onclick='createTask(this)' value='추가'></td></tr></tbody></table>";
        // //     $('#kpi-result').append(opr);
        // // };

        // function updateTask() {
        //     alert("update");
        // }

        // function deleteTask() {
        //     alert("delete");
        // }

        // function createTask() {
        //     alert("create");
        // }

        
    </script>
</html>
