{{>layout/header}}

    <div class="container">
        <h1>KPI</h1>
        <hr>
        <div class="period">
            <p>{{kpi.fromDate}} ~ {{kpi.toDate}}</p><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
        </div>
        <div class="section">
            <div class="article">
                <h2>Revenue</h2><a href="/kpi/save"><img src="/img/plus.png" id="createTask" class="icon-img" alt="plus"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th-wide" scope="col">Task</th>
                            <th scope="col">Impact</th>
                            <th scope="col">Complexity</th>
                            <th scope="col">isDone</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tasks}}
                        <tr>
                            <td>{{taskName}}</td>
                            <td>{{impactStatus}}</td>
                            <td>{{complexityStatus}}</td>
                            <td>{{isFinished}}</td>
                            <td>
                                <a href="/kpi/update/{{id}}"><img src="/img/right-arrow.png" class="icon-img-sub" alt="edit"></a>
                                <a href="/kpi/delete/{{id}}" id="btn-delete"><img src="/img/minus.png" class="icon-img-sub" alt="minus"></a>
                            </td>
                        </tr>
                        {{/tasks}}
                    </tbody>
                </table>
            </div>
            <div class="article">
                <h2>Active Users</h2><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
            </div>

            <div class="article">
                <h2>Talking to Users</h2><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
            </div>

            <div class="article">
                <h2>Building Product</h2><a href=""><img src="/img/plus.png" class="icon-img" alt="plus"></a>
            </div>

        </div>

    </div>

{{>layout/footer}}